.header{
    grid-area: header;
    position: fixed top;
    background-color: #080808;
    color: whitesmoke;
    box-shadow: 0 0 5px 1px rgba(221, 208, 208, 0.452);
        .logo{
                font-size: 25px;
                font-weight: 600;
            }
            a{
            color: white;
            text-decoration: none;
            }
}

.navbar{
        color: whitesmoke;
        button{
            color: whitesmoke;
              }
              ul{
                padding: 0;
                margin: 0;
                list-style: none;
                color: whitesmoke;
                }
                li{
                    display: inline-block;
                    margin: 0 1.5rem;
                    font-size: 18px;
                    font-weight: 600;
                  }
                  a{
                    color: whitesmoke;
                    text-decoration: none;
                   }
                   a:hover{
                            background-color: transparent;
                            color: gold;
                            border-radius: 5px;
                           }
      }